---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "./_components/form";
---

<Layout title="Register">
  <h1 class="text-4xl font-bold mb-10">Register</h1>

  <RegisterForm client:load />
</Layout>

