---
import Layout from "@/layouts/Layout.astro";
import RegisterForm from "@/components/register";
import Test from "@/components/test";
import { db } from "@/drizzle/db";
import { CategoriesTable } from "@/drizzle/schema";

const categories = await db.select().from(CategoriesTable);

console.log("Fetched categories:", categories);
---

<!--TODO: Make stuff look good-->
<Layout title="Register">

  <Test client:only="react" />

  <h1 class="text-4xl font-bold mb-10">Register</h1>

  <RegisterForm client:load categories={categories} />
</Layout>

